<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="DeliveryDataModelContainer" connectionString="metadata=res://*/DeliveryDataModel.csdl|res://*/DeliveryDataModel.ssdl|res://*/DeliveryDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Deliveries;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  
  <!--<appSettings>
    --><!-- Use appSetting to configure MSMQ queue name. --><!--
    <add key="queueName" value=".\private$\DeliveryServiceMessageQueueTransacted" />
  </appSettings>-->
  
  <unity>

    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
                     Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
                     Microsoft.Practices.Unity"/>

      <!-- Custom object types -->
      <typeAlias alias="IDeliveryProvider" type="DeliveryCo.Business.Components.Interfaces.IDeliveryProvider, DeliveryCo.Business.Components.Interfaces"/>
      <typeAlias alias="DeliveryProvider" type="DeliveryCo.Business.Components.DeliveryProvider, DeliveryCo.Business.Components"/>
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>

          <type type="IDeliveryProvider" mapTo="DeliveryProvider"/>
        </types>
      </container>
    </containers>
  </unity>
  <!--<system.serviceModel>
    <services>
      <service name="DeliveryCo.Services.DeliveryService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.msmq://localhost/private/DeliveryServiceMessageQueueTransacted"
                  binding="netMsmqBinding" bindingConfiguration="msmqSecurityConfig"
                  contract="DeliveryCo.Services.Interfaces.IDeliveryService"/>
        <endpoint address="net.tcp://localhost:9030/DeliveryService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="msmqSecurityConfig" durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IPublisherService">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/PublisherMessageQueueTransacted"
          binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IPublisherService"
          contract="PublisherService.IPublisherService" name="NetMsmqBinding_IPublisherService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
