<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.msmq://localhost/private/PublisherMessageQueueTransacted"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IPublisherService1"
                contract="PublisherService1.IPublisherService" name="NetMsmqBinding_IPublisherService" />
        </client>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IPublisherService">
                    <security mode="None" />
                </binding>
                <binding name="NetMsmqBinding_IPublisherService1">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
       
    </system.serviceModel>
</configuration>