<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceMetadataBehaviorWithHttp" name="VideoStoreMessageBus.PublisherSynService">
        <endpoint address="net.tcp://localhost:9016/PublisherSynService" binding="netTcpBinding" 
                  contract="VideoStoreMessageBus.Interfaces.IPublisherSynService">
        </endpoint>
        <endpoint address="net.tcp://localhost:9016/PublisherSynService/mex"
          binding="mexTcpBinding" contract="IMetadataExchange" />
       
      </service>
      <service behaviorConfiguration="ServiceMetadataBehavior" name="VideoStoreMessageBus.PublisherService">
        <endpoint address="net.msmq://localhost/private/PublisherMessageQueueTransacted"
          binding="netMsmqBinding" bindingConfiguration="msmqSecurityConfig"
          contract="VideoStoreMessageBus.Interfaces.IPublisherService" />
        <endpoint address="net.tcp://localhost:9016/PublisherService/mex"
          binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceMetadataBehaviorWithHttp" name="VideoStoreMessageBus.SubscriptionService" >
        <endpoint address="net.tcp://localhost:9011/SubscriptionService"
          binding="netTcpBinding" contract="VideoStoreMessageBus.Interfaces.ISubscriptionService" />
        <endpoint address="net.tcp://localhost:9011/SubscriptionService/mex"
          binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="msmqSecurityConfig" durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>

    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata/>
        </behavior>
        <behavior name="ServiceMetadataBehaviorWithHttp">
          <serviceMetadata httpGetEnabled="false" httpGetUrl="http://localhost:9009/SubscriptionService/mex"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
